<div class="m-l-50 centre">
    <div class="m-b-170"></div>
    <mat-list>
        <mat-list-item>
            <p matLine class="fs32"> Meet Our Team </p>
        </mat-list-item>
        <br/>
        <div class="m-b-50"></div>
        <br/>
        <mat-list-item  class="width-50">
            <p matLine class="fs32"> Baskaran M</p>
            <p matLine class="italic content"> MANAGING DIRECTOR</p>
            <p matLine class="italic content"> "Train people well enough so they can leave, treat them well enough so they don't want to." - Richard Branson</p>
        </mat-list-item>
        <mat-list-item  class="width-50">
            <p matLine class="fs32"> Arunprasath M </p>
            <p matLine class="italic content"> Technical Director</p>
            <p matLine class="italic content"> "Be the one, no one be like you" - Arun</p>
        </mat-list-item>
    </mat-list><br/>
    <div class="m-b-150"></div>
    <br />
    <div class="m-b-60"></div>
    <br />
</div>
<hr/>