<div class="m-l-50">
    <div class="m-b-170"></div>
    <mat-list>
        <mat-list-item>
            <p matLine class="fs32"> Get in Touch! </p>
            <p matLine class="italic content"> You need more information about us?</p>
        </mat-list-item>
        <br />
        <mat-list-item>
            <p matLine class="fs32"> Find us at the office </p>
            <p matLine class="italic content"> BG Design Systems</p>
            <p matLine class="italic content"> NO: 134/15  SIDCO NP IE, Ambattur, Chennai - 98</p>
        </mat-list-item>
        <br/>
        <mat-list-item>
                <p matLine class="fs32"> Give us a ring </p>
                <p matLine class="italic content"> Baskaran M +91 994 396 1227 (MON - FRI, 08:00 - 22:00)</p>
            </mat-list-item>
    </mat-list>
    <div class="m-b-150"></div>
</div>
<!-- 
<div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Input">
        </mat-form-field>
      
        <mat-form-field>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
    </div> -->
<hr/>