<div class="centre" id="innovative">
    <div class="m-b-170"></div>
    <mat-list>
        <mat-list-item>
            <p matLine class="fs32"> Overview </p>
        </mat-list-item>
    </mat-list>
    <div class="m-b-50"></div>
    <mat-list>
        <mat-list-item>
            <p matLine class="bold m-b-10">BG DESIGN SYSTEMS is a part of BG Groups of companies founded by
                Mr.R.BASKARN, a visionary leader who built the multi-dimensional enterprise was established in 2017. BG
                Design Systems offers comprehensive solution for various sectors. BG Design Susyems has been providing
                customers with end - to - end solution from product designing to analysis, prototyping, testing and
                validation services. Creative and advanced technology forefront in our thought processes, our endeavour
                is to offer new and better solutions, every time we deliver. </p>
        </mat-list-item>
    </mat-list>
    <div class="m-b-150"></div>
    <br />
    <div class="m-b-60"></div>
    <br />
</div>
<hr />