<div class="centre">
    <div class="m-b-170"></div>
    <mat-list>
        <mat-list-item>
            <p matLine class="fs32"> Why our product is the best </p>
            <p matLine class="italic content"> You will find these qualities in all our products and services </p>
        </mat-list-item>
    </mat-list>
    <div class="m-b-50"></div>
    <mat-list>
        <mat-list-item class="column">
            <p matLine class="bold m-b-10"> Quality </p>
            <p matLine class="italic content"> We frequently release updates for our products in order to add new features and keep it compatable with niche plugins </p>
        </mat-list-item>
        <mat-list-item class="column">
            <p matLine class="bold m-b-10"> Responsive </p>
            <p matLine class="italic content"> Showcase the same content across all devices. It can be a tablet, phone or laptop. Components used in the theme are designed to look good on smaller screen size too. </p>
        </mat-list-item>
        <mat-list-item class="column">
            <p matLine class="bold m-b-10"> Support </p>
            <p matLine class="italic content"> A collection of docs can be found on our website to help you achieve what you need usong our product. Assistance by email can be provided if you need it. </p>
        </mat-list-item>
    </mat-list>
    <div class="m-b-150"></div>
    <br />
    <div class="m-b-60"></div>
    <br />
</div>
<hr/>