<mat-toolbar color="black" class="dark-mode fixed-top navbar-transparent" [style.background-color]="navColor" color-on-scroll="500">
    <mat-toolbar-row>
      <img src="../../../assets/images/Logo.png" alt="BG Design Systems" class="logo"/>

      <div class="align-right">
        <a mat-button [routerLink]="'/home'" [style.color]="buttonColor"> Home </a>
        <a mat-button [routerLink]="'/productServices'" [style.color]="buttonColor"> Product & Services </a>
        <a mat-button [routerLink]="'/about'" [style.color]="buttonColor"> About Us </a>
        <a mat-button [routerLink]="'/contact'" [style.color]="buttonColor"> Contact Us </a>
        
        <button class="btn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon class="icon">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button> -->
          </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>