<div class="p-l-5" [ngStyle]="{background: 'url(../../assets/images/pen.jpg)'}" id="innovative">
    <mat-list>
        <br/>
    <div class="m-b-140"></div>
        <mat-list-item>
            <p matLine class="fs64"> BG Design Systems </p>
            <p matLine class="fs16"> Innovative Solution </p>
        </mat-list-item>
    </mat-list>
    <div class="m-b-150"></div>
    <br/>
    <button mat-button class="btn" type="button">CHECK US</button>
    <div class="m-b-150"></div>
    <br/>
</div>
<hr>