<div class="centre">
    <div class="m-b-170"></div>
    <mat-list>
        <mat-list-item>
            <p matLine class="fs32"> Our Services </p>
        </mat-list-item>
    </mat-list>
    <div class="m-b-50"></div>
    <!-- <mat-list>
        <mat-list-item class="column-4">
            <div>
                <img class="square" style='height: 100%; width: 100%; object-fit: contain' src="../../assets/images/R&D.png">
            </div>
            <br />
        </mat-list-item>
        <mat-list-item class="column-4">
            <div>
                <img class="square" src="../../assets/images/Manufacturing-icon.png">
            </div>
        </mat-list-item>
        <mat-list-item class="column-4">
            <div>
                <img class="square" src="../../assets/images/Sus.png">
            </div>
        </mat-list-item>
        <mat-list-item class="column-4">
            <div>
                <img class="square" src="../../assets/images/softwarelogo.jpg">
            </div>
        </mat-list-item>
    </mat-list> -->
    <br />
    <div class="m-b-10"></div>
    <mat-list>
        <mat-list-item class="column-4">
            <p matLine class="bold m-b-10"> R & D </p>
        </mat-list-item>
        <mat-list-item class="column-4">
            <p matLine class="bold m-b-10"> Manufacturing </p>
        </mat-list-item>
        <mat-list-item class="column-4">
            <p matLine class="bold m-b-10"> Sustenance Maintanence </p>
        </mat-list-item>
        <mat-list-item class="column-4">
            <p matLine class="bold m-b-10"> Software Service </p>
        </mat-list-item>
    </mat-list>

    <div class="m-b-150"></div>
    <br />
    <div class="m-b-60"></div>
    <br />
</div>
<hr />