/* You can add global styles to this file, and also import other style files */
$dark-color: #111;
$light-color: #eee;

body.dark-mode {
  background-color: $dark-color;
  color: $light-color;
  a {
    color: $light-color;
  }
  button {
    background-color: $light-color;
    color: $dark-color;
  }
}

body.light-mode {
  background-color: $light-color;
  color: $dark-color;
  a {
    color: $dark-color;
  }
  button {
    background-color: $dark-color;
    color: $light-color;
  }
}

.nav {
    align-items: flex-end;
}

.p-50{
  padding: 50px;
}

.align-right {
    position: absolute;
    right: 10%;
    width: 450px;
    padding: 10px;
}

.centre{
    text-align: center;
}

.s11{
    font-size: 50px;
}

hr.light-mode{
  color: #111
}

hr.dark-mode{
  color: rgb(255, 255, 255)
}

.column{
  float: left;
  width: 33.33% !important;
}

.column{
  .bold{
    size: 20px;
    font-weight: bold !important;
  }
}

.italic{
  font-style: italic;
}

.content{
  color: #7e7e7e
}

.fs64{
  font-size: 64px !important;
}

.fs32{
  font-size: 32px !important;
}

.m-b-100{
  margin-bottom: 100px;
}

.m-b-50{
  margin-bottom: 50px;
}

.m-b-10{
  margin-bottom: 10px !important;
}

.light-mode{
  .btn{
    background-color: #ffffff !important;
  }
}

.dark-mode{
  .btn{
    background-color: rgb(0, 0, 0) !important;
  }
}

.light-mode{
  .icon{
    color: rgb(0, 0, 0) !important;
  }
}

.dark-mode{
  .icon{
    color: #ffffff !important;
  }
}
