<div class="centre" [ngStyle]="{background: 'url(../../assets/images/Frontpagebg.jpg)'}">
    <mat-list>
        <br/>
    <div class="m-b-140"></div>
        <mat-list-item>
            <p matLine class="fs32"> Welcome to BG Design Systems </p>
            <p matLine class="fs32"> for </p>
            <p matLine class="fs64"> Innovative Technological </p>
            <p matLine class="fs64">Solution</p>
        </mat-list-item>
    </mat-list>
    <button mat-button (click)="handleClick($event)" type="button">Discover More</button>
    <div class="m-b-150"></div>
    <br/>
</div>
<hr>