<div class="centre m-t-2" [ngStyle]="{background: 'url(../../assets/images/Frontpagebg.jpg)'}">
    <mat-list>
        <br />
        <div class="m-b-140"></div>
        <mat-list-item>
            <p matLine class="fs21 font"> Welcome to BG Design Systems </p>
            <p matLine class="fs21 font"> for </p>
            <p matLine class="fs67 font"> Innovative Technological </p>
            <p matLine class="fs67 font">Solution</p>
        </mat-list-item>
    </mat-list>
    <!-- handleClick($event) -->
    <button mat-button type="button">
        <a href="#innovative">
            <span></span>
            Discover More
        </a>
    </button>
    <div class="m-b-150"></div>
    <br />
    <div class="m-b-60"></div>
    <br />
</div>
<hr>